.block.block_sb_coursenav {background-color: transparent;padding: 25px 0;}
.block.block_sb_coursenav .content {padding: 0;}
.block.block_sb_coursenav .header {display: none;}
.course-navigation-block ul {padding: 10px 25px 0; list-style: none; margin:0;}
.course-navigation-block ul li ul {padding: 5px 0 0 25px;}
.course-navigation-block .course-section-box {padding: 0 0 4px; position: relative;font: 14px/21px HelveticaNeue;}
.course-navigation-block .course-section-box.completed, .course-navigation-block .course-section-box.completed a {color: #7f99b7;}
.course-navigation-block .course-section-box a {position: relative;display: block; margin-left: 15px;}
.course-navigation-block .course-section-box a.current {font-weight: bold;}
.course-navigation-block .course-section-box .toggler {display: block; width:15px; height: 15px; position: absolute; left:0; top:0px; cursor: pointer;}
.course-navigation-block .course-section-box .toggler:before {display: block; width:15px; height: 15px; position: absolute; left:0; top:-2px; content:"+";}
.course-navigation-block .course-section-box.open .toggler:before {content:"-"; top:-1px;}
.course-navigation-block .section-counter {margin-right: 7px;}
.course-navigation-block .course-section-box ul {display: none;}
.course-navigation-block .course-section-box.open ul {display: block;}
.course-navigation-block .course-level1-sections .course-section-box ul {display: none;}
.course-navigation-block .course-level1-sections .course-section-box.open ul {display: block;}

.course-navigation-block .course-level1-sections .course-section-box .toggler {display: block; width:15px; height: 15px; position: absolute; left:0; top:0px; cursor: pointer;}
.course-navigation-block .course-level1-sections .course-section-box .toggler:before {display: block; width:15px; height: 15px; position: absolute; left:0; top:-2px; content:"+";}
.course-navigation-block .course-level1-sections .course-section-box.open .toggler:before {content:"-"; top:-1px;}
.course-navigation-block .course-level2-sections li.completed a {color: #7f99b7;}
.course-navigation-block .course-level2-sections li a:before {display: block; content:"\f10c"; font-family: fontawesome;font-size: 8px; height: 15px; left: -11px; position: absolute; top: 1px; width: 15px;}
.course-navigation-block .course-level2-sections li.completed a:before {content:"\f111"; color: #7f99b7;}