/* Custom CSS
-------------------------*/
div.logo {
    background: url([[setting:logo]]) no-repeat 0 0;
    display: block;
    float: left;
    height: 75px;
    margin: 0;
    padding: 0;
    width: 100%;
}

.dir-rtl div.logo {
    background: url([[setting:logo]]) no-repeat 100% 0;
    display: block;
    float: right;
}

img.small-logo {
    float: left;
    height: 35px;
    margin: 3px 10px 3px 0;
}

.dir-rtl img.small-logo {
    float: right;
    margin: 3px 0 3px 10px;
}

@media (max-width: 767px) {
    .dir-rtl img.small-logo,
    img.small-logo {
        margin: 3px;
    }
}

@media (max-width: 480px) {
    .navbar img.small-logo {
        max-width: 150px;
    }
    /* Applying accesshide styles */
    .navbar .small-logo-container + .brand {
        position: absolute;
        left: -10000px;
        font-size: 1em;
        font-weight: normal;
    }
}

/* Custom CSS Settings
-------------------------*/
[[setting:customcss]]


/**
 * glossary
 */

.path-mod-glossary h2 {
    /*font-weight: normal;*/
    margin-bottom: 10px;
}

.path-mod-glossary #intro {
    display: none;
}

.path-mod-glossary .boxaligncenter {
    margin-left: 0px;
    margin-right: 0px;
    width: 60% !important;

    border-bottom: solid 1px #c8cac9;
}

.path-mod-glossary .boxaligncenter .glossarysearchbox {
    text-align: left;
    position: relative;
}

.path-mod-glossary  .boxaligncenter .glossarysearchbox:before {
    content: '';
    width: 15px;
    height: 15px;
    background: transparent url([[pix:theme|themeicons/Search_Gray]]) no-repeat scroll 50% 50% / contain; height: 15px;width: 15px;
    display: block;
    position: absolute;
    top: 5px;
    left: 0;
}

.path-mod-glossary .boxaligncenter .glossarysearchbox label,
.path-mod-glossary .boxaligncenter .glossarysearchbox input[type=submit] {
    display: none !important;
}

.path-mod-glossary .boxaligncenter .glossarysearchbox input[type=text] {
    border: none;
    border-radius: 0px;
    box-shadow: none;
    -webkit-box-shadow: none;
    -webkit-transition: none;
    transition: none;

    padding-left: 25px;
    padding-bottom: 0px;
    width: 90%;
}

.path-mod-glossary .glossaryaddentry {
    text-align: right;
}

.path-mod-glossary .glossarydisplay .glossaryexplain {
    text-transform: uppercase;
    color: #003370;
    font-weight: bold;
    font-size: 14px;
}

.path-mod-glossary .glossarydisplay .entrybox div + br,
.path-mod-glossary .glossarydisplay .entrybox a + div {
    display: none;
}

.path-mod-glossary .glossarydisplay .entrybox {
    font-size: 16px;
}

.path-mod-glossary .glossarydisplay .entrybox a,
.path-mod-glossary .glossarydisplay .entrybox b {
    font-size: 16px;
}

.path-mod-glossary .glossarydisplay .entrybox a {
    color: #58595b;
}

.path-mod-glossary .glossarydisplay .entrybox b {
    color: #003370;
}

.path-mod-glossary .glossarydisplay .entrybox hr {
    margin-bottom: 10px;
    margin-top: 10px;
    background-color: #c8cac9;
}

.path-mod-glossary .glossarypost {
    width: 100%;
}

.path-mod-glossary .glossarypost h4 {
    font-weight: normal;
    font-size: 22px;
    color: #003370;
}

.path-mod-glossary .glossarypost .no-overflow p {
    color: #58595b;
}

.path-mod-glossary .glossarypost {
    border-bottom: solid 1px #c8cac9;
    position: relative;
    padding-bottom: 10px;
    padding-top: 10px;
}

.path-mod-glossary .glossarypost .entry {
    font-weight: normal;
    font-family: Helvetica;
}

.path-mod-glossary .glossarypost .aliases {
    display: none;
}

.path-mod-glossary .glossarypost .entrylowersection {
    position: absolute;
    display: block;
    width: 350px;
    top: 15px;
    right: 0;
    /*display: none;*/
}

.path-mod-glossary .glossarypost .entrylowersection table {
    position: relative;
}

.path-mod-glossary #fullsearch {
    display: none;
    margin-bottom: 5px;
}

.path-mod-glossary .glossarydisplay .entrybox {
    color: white;
}

.path-mod-glossary .glossarycontrol .printicon {
    display: none;
}

.path-mod-glossary[role=main] {
    position: relative;
}

.path-mod-glossary .singlebutton.glossaryaddentry {
    position: absolute;
    display: block;
    width: 250px;
    height: 30px;
    top: 62px;
    right: 0;
}

.path-mod-glossary .glossarycategoryheader {
    /*margin-top: 15px;*/
    display: none;
}


/**
 * profile
 */

.path-user .profile_tree .node_category {
    padding: 15px;
    font-family: "Open Sans";
    border: none;
    border-radius: 0px;
    margin: 0px;
    position: relative;
    padding-right: 34px;
}

.path-user .profile_tree .node_category > ul {
    border-bottom: 1px solid #c8cac9;
}

.path-user .profile_tree section.node_category:nth-last-child(n+4):first-child,
.path-user .profile_tree section.node_category:nth-last-child(n+4):first-child + .node_category,
.path-user .profile_tree section.node_category:nth-last-child(n+6):first-child + .node_category,
.path-user .profile_tree section.node_category:nth-last-child(n+6):first-child + .node_category + .node_category,
.path-user .profile_tree section.node_category:nth-last-child(n+6):first-child {
    border-right: 1px dashed #ccc;
    padding-bottom: 5px;
}

.path-user .profile_tree .node_category:first-child + .node_category + .node_category ul {
    border: none;
}

.path-user .profile_tree h3 {
    font-family: "Open Sans";
}

.path-user .node_category:first-child li dl,
.path-user .node_category:last-child li dl {
    border-bottom: 1px solid #c8cac9;
    padding: 5px 0;
    margin-bottom: 10px;
    margin-top: 10px;
}

.path-user .node_category:first-child li dt,
.path-user .node_category:last-child li dt {
    color: #58595b;
    display: inline-block;
    font: 14px Open Sans;
    vertical-align: top;
    width: 30%;
}

.path-user .node_category:first-child li dd,
.path-user .node_category:last-child li dd {
    color: #666;
    display: inline-block;
    font: 14px Open Sans;
    width: 60%;
}

.path-user .profile_tree section.node_category:nth-last-child(n+4):first-child + .node_category ul,
.path-user .profile_tree section.node_category:nth-last-child(n+6):first-child + .node_category + .node_category + .node_category + .node_category ul,
.path-user .profile_tree section.node_category:nth-last-child(n+6):first-child + .node_category + .node_category + .node_category ul,
.path-user .profile_tree section.node_category:first-child ul,
.path-user .profile_tree section.node_category:last-child ul {
    border: none;
}


.path-user .profile_tree section.node_category:nth-last-child(n+6):first-child + .node_category + .node_category + .node_category + .node_category li:before,
.path-user .profile_tree section.node_category:nth-last-child(n+6):first-child + .node_category + .node_category + .node_category  li:before,
.path-user .profile_tree section.node_category:nth-last-child(n+6):first-child + .node_category + .node_category li:before,
.path-user .profile_tree section.node_category:nth-last-child(n+4):first-child + .node_category + .node_category li:before,
.path-user .profile_tree section.node_category:nth-last-child(n+4):first-child + .node_category li:before {
    color: #58595b;
    font-size: 12px;
    font-weight: bold;
    margin-left: -15px;
    position: absolute;
    content: ">";
}

.path-user .profile_tree section.node_category:nth-last-child(n+6):first-child + .node_category + .node_category + .node_category + .node_category li,
.path-user .profile_tree section.node_category:nth-last-child(n+6):first-child + .node_category + .node_category + .node_category  li,
.path-user .profile_tree section.node_category:nth-last-child(n+6):first-child + .node_category + .node_category li,
.path-user .profile_tree section.node_category:nth-last-child(n+4):first-child + .node_category + .node_category li,
.path-user .profile_tree section.node_category:nth-last-child(n+4):first-child + .node_category li {
    list-style: none !important;
    padding: 0 20px 5px;
    position: relative;
}

.path-user .profile_tree section.node_category:nth-last-child(n+6):first-child + .node_category li,
.path-user .profile_tree section.node_category:nth-last-child(n+6):first-child + .node_category + .node_category .contentnode {
    padding-left: 0px;
}

.path-user .profile_tree section.node_category:nth-last-child(n+6):first-child + .node_category li:before,
.path-user .profile_tree section.node_category:nth-last-child(n+6):first-child + .node_category + .node_category .contentnode:before {
    content: '';
}

.path-user .profile_tree .node_category .editprofile {
    display: none;
}

.path-user .profile_tree section.node_category dt,
.path-user .profile_tree section.node_category h3 {
    font-weight: normal;
}

.path-user .userprofile {
    position: relative;
}

.path-user div[role="main"] span + h2 {
/*    display: none;*/
}

.path-user .userprofile .user-profile-info {
    position: absolute;
    display: block;
    height: 50px;
    width: 150px;
    top: 0;
    left: 100px;
}

.path-user .userprofile .edit-link.btn {
    position: absolute;
    display: block;
    height: 30px;
    width: 100px;
    top: 0;
    right: 0;
}

.path-user .userprofile .user-profile-info .user-fullname {
    color: #3d3d3d;
    font: 19px Open Sans;
    padding-bottom: 5px;
}

.path-user .userprofile .user-profile-info .user-email {
    color: #a8a8a8;
    font: 15px Open Sans;
    padding-bottom: 5px;
}

.path-user .userprofile .description {
    border-bottom: 1px dashed #ccc;
    padding-bottom: 20px;
    margin-top: 20px;
}

/**
 * badges
 */

.path-my .block_badges {
    padding-top: 40px;
    background: none;
    border: none;
    border-radius: 0;
    border-top: 1px solid #c8cac9;
}

.path-my .block_badges .header h2 {
    padding-left: 0;
    color: #003370;
    font: bold 22px HelveticaNeueUltraLight;
    letter-spacing: 1.2px;
}

.path-my .block_badges .badge-name {
    text-transform: uppercase;
    color: #003370;
    font-weight: bold;
    font-size: 8px;
    padding: 0;
}

.path-my .block_badges .content {
    padding-left: 0px;
    padding-right: 0px;
}

.path-my .block_badges .content li {
    text-align: center;
    width: 65px;
    margin-right: 6px;
    padding-top: 0px;
}

.path-my .block_badges li .badge-image {
    border: 1px solid #c8cac9;
    width: 65px;
    height: 65px;
}

.path-my .block_badges .block_action {
    display: none;
}


/**
 * quiz page
 */

#page-mod-quiz-attempt #region-main,
#page-mod-quiz-attempt #region-main .que > .info,
#page-mod-quiz-attempt #region-main .que .formulation {
    background: white;
    padding-top: 0px;
}

#page-mod-quiz-attempt #region-main .que {
    clear: both;
    position: relative;
    margin: 0px;
}

#page-mod-quiz-attempt #region-main .que > .info {
    float: right;
    width: 190px;
    padding: 15px;
}

#page-mod-quiz-attempt #region-main .que > .info,
#page-mod-quiz-attempt #region-main .que > .content {
    padding: 30px;
    padding-top: 0px;
    margin: 0;
}

#page-mod-quiz-attempt #region-main .que > .content {
    padding-left: 0px;
}

#page-mod-quiz-attempt #region-main .que > .info,
#page-mod-quiz-attempt #region-main .que > .content,
#page-mod-quiz-attempt #region-main .que .formulation {
    border: none;
    border-radius: 0;
}

#page-mod-quiz-attempt .que .formulation {
    margin: 0;
    padding-left: 0px;
    padding-bottom: 30px;
    border-top: 1px solid #bcbcbd!important;
}

#page-mod-quiz-attempt .que:first-of-type .formulation {
    border-top: none!important;
}

#page-mod-quiz-attempt #region-main .que .formulation .ablock {
    padding-left: 30px;
}


#page-mod-quiz-attempt #region-main .que > .content {
    /*float: left;*/
    width: calc(100% - 190px);
}

#page-mod-quiz-attempt #region-main .que > .info > .grade,
#page-mod-quiz-attempt #region-main .que > .info > .state {
    display: none;
}

#page-mod-quiz-attempt #region-main .que .content {
    border-right: 1px solid #bcbcbd;
}

#page-mod-quiz-attempt #region-main .que  .questionflagimage {
    display: none;
}

#page-mod-quiz-attempt #region-main .que .questionflag.editable {
    position: absolute;
    left: 0px;
    bottom: 15px;

    padding: 6px;
    border: solid 1px #980d22;
    color: #980d22;

    width: 120px;
   /* height: 45px;*/

    text-align: center;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: bold;
}

#page-mod-quiz-attempt #region-main .que .questionflag.editable.active {
    background-color: #980d22;
    color: white;
}


#page-mod-quiz-attempt #region-main .que:last-of-type {
    background-color: red!important;
}

#page-mod-quiz-attempt #region-main-box .row-fluid {
    position: relative;
}

#page-mod-quiz-review .side-inner,
#page-mod-quiz-attempt .side-inner {
    height: 0px;
    width: 0px;
}

#page-mod-quiz-attempt #status_btn,
#page-mod-quiz-attempt  .togglecompletion,
#page-mod-quiz-attempt .side-inner .block_fake .content .othernav .endtestlink,
#page-mod-quiz-attempt .side-inner .block_fake .content .qnbutton,
#page-mod-quiz-attempt .side-inner .block_fake .header {
    display: none;
}

#page-mod-quiz-attempt .side-inner .block_fake .content .othernav,
#page-mod-quiz-attempt .side-inner .block_fake .content .qn_buttons.clearfix.multipages {
    display: inline-block;
    margin: 0px;
    width: calc(100% - 150px);
}

#page-mod-quiz-attempt .side-inner .block_fake .content {
    padding: 0px;
}

#page-mod-quiz-attempt .side-inner .block_fake .content .othernav {
    width: 150px;
    text-align: left;
}

#page-mod-quiz-attempt .mod_quiz-submit:hover,
#page-mod-quiz-attempt .mod_quiz-submit,
#page-mod-quiz-attempt .mod_quiz-prev-nav:hover,
#page-mod-quiz-attempt .mod_quiz-prev-nav,
#page-mod-quiz-attempt .mod_quiz-next-nav:hover,
#page-mod-quiz-attempt .mod_quiz-next-nav {
   /* position: absolute;
    bottom: 10px;
    right: 45px;*/

    color: #003370;
    background: #ffd200;

    border: 1px solid #ffd200;
    border-radius: 0px;

    font: 600 10px/16px HelveticaNeue;
    letter-spacing: 1px;
    text-shadow: none;
    text-transform: uppercase;
    width: 130px;
    padding: 4px 15px 3px !important;

    transition: none;
    -webkit-transition: none;

    margin-right: 0px;
}

#page-mod-quiz-attempt .mod_quiz-submit:hover,
#page-mod-quiz-attempt .mod_quiz-submit {
    color: white;
    background: #c1d82f;
    float: right;
    margin-right: 0px;
    margin-left: 30px;
    border: 1px solid #c1d82f;
}

#page-mod-quiz-attempt .submitbtns .mod_quiz-next-nav {
    float: none;
}

#page-mod-quiz-attempt .submitbtns .mod_quiz-prev-nav {
    float: none;
}


#page-mod-quiz-attempt #responseform .submitbtns {
    position: absolute;
    bottom: 10px;
    right: 0px;
    width: 370px;
}

#page-mod-quiz-attempt .course-content-footer-navbuttons {
    padding-right: 150px;
}

#page-mod-quiz-attempt .course-content-footer-navbuttons .btn {
    background-color: #ffd200;
}

#page-mod-quiz-attempt .submitbtns {
    padding: 0px;
}

#page-mod-quiz-attempt  .course-content-footer-inner {
    border-top: none;
    padding-top: 25px;
}

#page-mod-quiz-attempt .mod_quiz-section-heading.activity-heading {
    color: #81addf;
    text-transform: capitalize;
    font-size: 26px;
}

#page-mod-quiz-attempt .qtext p {
    color: #58595b;
}

#page-mod-quiz-attempt .info h3 {
    font-size: 12px;
    color: #980d22;
    font-weight: bold;
    margin-bottom: 5px;
    line-height: 16px;
}


#page-mod-quiz-attempt .info ul li .qno,
#page-mod-quiz-attempt .info ul li {
    color: #58595b;
    font-size: 12px;
}


#page-mod-quiz-attempt  .que .qtext {
    margin-bottom: 10px;
}

#page-mod-quiz-attempt .course-content-footer-inner {
    padding-top: 0px;
}

#page-mod-quiz-review #region-main,
#page-mod-quiz-review #region-main .que > .info,
#page-mod-quiz-review #region-main .que .formulation {
    background: white;
}

#page-mod-quiz-review #region-main .que {
    clear: both;
    position: relative;
    margin: 0px;
}

#page-mod-quiz-review #region-main .que > .info {
    float: right;
    width: 190px;
    padding: 15px;
}

#page-mod-quiz-review #region-main .que > .info,
#page-mod-quiz-review #region-main .que > .content {
    padding: 30px;
    padding-top: 0px;
    margin: 0;
}

#page-mod-quiz-review #region-main .que > .content {
    padding-left: 0px;
}

#page-mod-quiz-review #region-main .que > .info,
#page-mod-quiz-review #region-main .que > .content,
#page-mod-quiz-review #region-main .que .formulation {
    border: none;
    border-radius: 0;
}

#page-mod-quiz-review .que .formulation {
    margin: 0;
    padding-left: 0px;
    padding-bottom: 30px;
    border-top: 1px solid #bcbcbd!important;
}

#page-mod-quiz-review .que:first-of-type .formulation {
    border-top: none!important;
}

#page-mod-quiz-review #region-main .que .formulation .ablock {
    padding-left: 30px;
}


#page-mod-quiz-review #region-main .que > .content {
    /*float: left;*/
    width: calc(100% - 190px);
}

#page-mod-quiz-review #region-main .que > .info > .grade,
#page-mod-quiz-review #region-main .que > .info > .state {
    display: none;
}

#page-mod-quiz-review #region-main .que .content {
    border-right: 1px solid #bcbcbd;
}

#page-mod-quiz-review #region-main .que  .questionflagimage {
    display: none;
}

#page-mod-quiz-review #region-main .que .questionflag.editable {
    position: absolute;
    left: 0px;
    bottom: 15px;

    padding: 6px;
    border: solid 1px #980d22;
    color: #980d22;

    width: 120px;
    /* height: 45px;*/

    text-align: center;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: bold;
}

#page-mod-quiz-review #region-main .que .questionflag.editable.active {
    background-color: #980d22;
    color: white;
}


#page-mod-quiz-review #region-main .que:last-of-type {
    background-color: red!important;
}

#page-mod-quiz-review #region-main-box .row-fluid {
    position: relative;
}

#page-mod-quiz-review #status_btn,
#page-mod-quiz-review  .togglecompletion,
#page-mod-quiz-review .side-inner .block_fake .content .othernav .endtestlink,
#page-mod-quiz-review .side-inner .block_fake .content .qnbutton,
#page-mod-quiz-review .side-inner .block_fake .header {
    display: none;
}

#page-mod-quiz-review .side-inner .block_fake .content .othernav,
#page-mod-quiz-review .side-inner .block_fake .content .qn_buttons.clearfix.multipages {
    display: inline-block;
    margin: 0px;
    width: calc(100% - 150px);
}

#page-mod-quiz-review .side-inner .block_fake .content {
    padding: 0px;
}

#page-mod-quiz-review .side-inner .block_fake .content .othernav {
    width: 150px;
    text-align: left;
}

#page-mod-quiz-attempt #responseform,
#page-mod-quiz-review #responseform {
    margin-top: 15px;
}

#page-mod-quiz-attempt .attempt-header,
#page-mod-quiz-review .attempt-header {
    display: block;
    border-bottom: 1px solid #ccc;

    position: relative;
}

#page-mod-quiz-review .attempt-header {
    margin-bottom: 15px;
}

#page-mod-quiz-attempt .attempt-header .mod_quiz-section-heading,
#page-mod-quiz-review .attempt-header .mod_quiz-section-heading {
    margin-bottom: 10px;

    color: #81addf;
    text-transform: capitalize;
    font-size: 26px;
}

#page-mod-quiz-review .mod_quiz-next-nav:hover,
#page-mod-quiz-review .mod_quiz-next-nav {
    position: absolute;
    bottom: 50px;
    right: 0px;

    border: 1px solid #c1d82f;
    border-radius: 0px;
    color: white;
    background: #c1d82f;

    font: 600 10px/16px HelveticaNeue;
    letter-spacing: 1px;
    text-shadow: none;
    text-transform: uppercase;
    width: 130px;
    padding: 4px 15px 3px !important;
    /*background-position: 0px;*/

    transition: none;
    -webkit-transition: none;
}



#page-mod-quiz-review .course-content-footer-navbuttons {
    padding-right: 150px;
}

#page-mod-quiz-review .course-content-footer-navbuttons .btn {
    background-color: #ffd200;
}

#page-mod-quiz-review .submitbtns {
    padding: 0px;
}

#page-mod-quiz-review  .course-content-footer-inner {
    border-top: none;
    padding-top: 25px;
}

#page-mod-quiz-review .mod_quiz-section-heading.activity-heading {
    color: #81addf;
    text-transform: capitalize;
    font-size: 26px;
}



#page-mod-quiz-review .qtext p {
    color: #58595b;
}

#page-mod-quiz-review .info h3 {
    font-size: 12px;
    color: #980d22;
    font-weight: bold;
    margin-bottom: 5px;
    line-height: 16px;
}


#page-mod-quiz-review .info ul li .qno,
#page-mod-quiz-review .info ul li {
    color: #58595b;
    font-size: 12px;
}


#page-mod-quiz-review  .que .qtext {
    margin-bottom: 10px;
}

#page-mod-quiz-review .course-content-footer-inner {
    padding-top: 0px;
}

#page-mod-quiz-review .que .outcome {
    padding: 8px 5px 0px 10px;
    margin-bottom: 5px;
}

#page-mod-quiz-review #region-main .que .formulation  {
    padding-bottom: 5px;
}

#page-mod-quiz-review #region-main .que>.content {
    padding-bottom: 56px;
}

#page-mod-quiz-review .que .content .formulation h3 span,
#page-mod-quiz-attempt .que .content .formulation h3 span,
#page-mod-quiz-attempt .que .content .formulation h3,
#page-mod-quiz-review .que .content .formulation h3 {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 5px;
    margin-top: 13px;
    font-family: "Open Sans";
}

#page-mod-quiz-review .que:first-of-type .content .formulation h3,
#page-mod-quiz-attempt .que:first-of-type .content .formulation h3 {
    margin-top: 0px!important;
}

/* quiz page for admin */
#page-mod-quiz-attempt.editing .side-inner {
    top: -15px;
}

#page-mod-quiz-attempt.editing #responseform {
    margin-top: 80px;
}

#page-mod-quiz-review .que .info .editquestion,
#page-mod-quiz-attempt .que .info .editquestion {
    position: absolute;
    bottom: 15px;
}

#page-mod-quiz-attempt.editing .submitbtns {
    height: 65px;
}

#page-mod-quiz-review .course-content-footer-navbuttons,
#page-mod-quiz-attempt .course-content-footer-navbuttons {
    display: none;
}

/* quiz page for teacher */

#page-mod-quiz-attempt .side-inner .othernav .singlebutton div {
    margin: 0px;
}

#page-mod-quiz-attempt .side-inner .othernav .singlebutton div input[type="submit"] {
    margin-bottom: 0px;
    margin-top: 0px;
    padding: 3px 10px
}

#page-mod-quiz-review .generaltable.generalbox.quizreviewsummary {

}

#page-mod-quiz-attempt .side-inner .othernav .singlebutton,
#page-mod-quiz-review .side-inner .othernav .singlebutton {
    position: absolute;
    bottom: 20px;
    left: 0px;
}

#page-mod-quiz-review .side-inner .othernav .singlebutton div {
    margin: 0px;
}

#page-mod-quiz-review .side-inner .othernav .singlebutton div input[type="submit"] {
    margin-bottom: 0px;
    margin-top: 0px;
    padding: 3px 10px
}

/* quiz page summary for teacher */
#page-mod-quiz-summary #region-main-box section {
    background-color: white;
}

#page-mod-quiz-summary .quizsummaryheading,
#page-mod-quiz-summary .togglecompletion,
#page-mod-quiz-summary .course-content-footer-navbuttons,
#page-mod-quiz-summary .course-content-footer .status-btn.btn.btn-warning,
#page-mod-quiz-summary  .toggle_module_completion,
#page-mod-quiz-review .side-inner,
#page-mod-quiz-summary .side-inner {
    display: none!important;
}

#page-mod-quiz-summary  .course-content-footer-inner {
    border-bottom: none;
}

#page-mod-quiz-summary .submitbtns.mdl-align {
    width: 150px;
    display: inline-block;
}

#page-mod-quiz-summary .submitbtns.mdl-align .controls {
    margin: 0px!important;
    text-align: left!important;
}

#page-mod-quiz-summary .submitbtns.mdl-align .controls input[type="submit"],
#page-mod-quiz-summary .submitbtns.mdl-align .controls input[type="submit"]{

    border-radius: 0px;
    color: #003370;
    background: #ffd200;
    border: 1px solid #ffd200;

    font: 600 10px/16px HelveticaNeue;
    letter-spacing: 1px;
    text-shadow: none;
    text-transform: uppercase;
    width: 130px;
    padding: 4px 15px 3px !important;
    /*background-position: 0px;*/

    transition: none;
    -webkit-transition: none;

}

#page-mod-quiz-summary .submitbtns.mdl-align .controls .singlebutton div input,
#page-mod-quiz-summary .submitbtns.mdl-align .controls .singlebutton div {
    margin-left: 0px!important;
}

#page-mod-quiz-summary #quiz-timer {
    /*position: absolute;
    width: 150px;
    height: 20px;
    right: 0;
    bottom: 10px;
    text-align: right;*/
    display: none!important;
}

#page-mod-quiz-summary .submitbtns.mdl-align {
    margin-top: 0px;
}

#page-mod-quiz-summary .submitbtns.mdl-align:last-of-type {
    color: white;
    height: 0px;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
}

#page-mod-quiz-summary .submitbtns.mdl-align:last-of-type .controls {
    position: absolute;
    bottom: -55px;
    right: -5px;
}

#page-mod-quiz-summary .submitbtns.mdl-align:last-of-type .controls input[type="submit"] {
    color: white;
    background: #c1d82f;
    border: 1px solid #c1d82f;
}

#page-mod-quiz-summary #region-main {
    position: relative;
}

#page-mod-quiz-summary .generaltable tbody tr td,
#page-mod-quiz-summary .generaltable tbody tr {
    pointer-events: none;
}

#page-mod-quiz-summary .header.c0 {
    width: 200px;
}

#page-mod-quiz-summary .generaltable {
    margin-bottom: 30px;
}

#page-mod-quiz-summary .generaltable a,
#page-mod-quiz-summary .generaltable .header {
    color: #003370;
    font-size: 14px;
    font-weight: bold;
}

#page-mod-quiz-summary .generaltable .header {
    text-transform: uppercase;
}

#page-mod-quiz-summary .generaltable .header,
#page-mod-quiz-summary .generaltable .cell {
    text-align: center!important;
}

#page-mod-quiz-summary .generaltable td {
    border: none!important;
}

#page-mod-quiz-summary .generaltable .lastcol .flagged {
    font-weight: bold;
    color: #980d22;
}

#page-mod-quiz-summary  #region-main h2.activity-heading {
    color: #58595b;
    font: bold 22px/26px HelveticaNeueUltraLight,sans-serif;
    margin-top: 35px;

    margin-bottom: 15px;
    padding-bottom: 15px;
    border-bottom: solid 1px #bcbcbd;
}

#page-mod-quiz-summary div[role="main"] {
    position: relative;
}

#page-mod-quiz-summary  #region-main h3.activity-heading {
    color: #81addf;
    font: bold 26px/28px HelveticaNeueUltraLight,sans-serif;
    margin: 0 0 30px;

    position: absolute;
    left: 0px;
    top: 0px;
}

#page-mod-quiz-summary .generaltable tbody>tr:nth-child(odd)>td {
    background-color: white;
}

#page-mod-quiz-summary .generaltable tbody>tr {
    background-color: #eeefef;
}

#page-mod-quiz-summary .info {
    width: 185px;
    display: inline-block;
    float: right;
    padding: 30px;
    padding-top: 12px;
}

#page-mod-quiz-summary .info li {
    color: #58595b;
    font-size: 12px;
}

#page-mod-quiz-summary .info h3 {
    font-size: 12px;
    color: #980d22;
    font-weight: bold;
    margin-bottom: 5px;
    line-height: 16px;
}

#page-mod-quiz-summary .right-line {
    width: calc(100% - 190px);
    display: inline-table;

    border-right: solid 1px #bcbcbd;
    padding-right: 30px;
    padding-bottom: 20px;
}

#page-mod-quiz-summary  .global-pos {
    position: absolute;
    bottom: 0px;
    left: 0px;
}

#page-mod-quiz-review .submitbtns .mod_quiz-next-nav {
    bottom: 25px;
}

#page-mod-quiz-review .side-inner,
#page-mod-quiz-attempt .side-inner {
    top: 185px;
}

@media (max-width: 1280px) {
    #page-mod-quiz-review .side-inner,
    #page-mod-quiz-attempt .side-inner {
        top: 205px;
    }
}

/* custom popup */
#page-mod-quiz-summary .moodle-dialogue-base .moodle-dialogue {
    width: 285px!important;
    top: 200px!important;
}

#page-mod-quiz-summary .moodle-dialogue-base .moodle-dialogue-hd {
    padding-left: 20px!important;
    padding-right: 20px!important;

    /*height: 0px;
    color: #81ADDF;*/
}

.moodle-dialogue-base .moodle-dialogue-hd.yui3-widget-hd,
.moodle-dialogue-base .moodle-dialogue-bd.yui3-widget-bd,
.moodle-dialogue-base .moodle-dialogue-ft.yui3-widget-ft {
    border: none;
    border-radius: 0;
    background: #81addf;
    color: white;
    margin: 0px;
    padding-left: 20px;
    padding-right: 20px;
}

.moodle-dialogue-hd {
    padding-left: 20px;
    padding-right: 20px;
}

.moodle-dialogue-base .moodle-dialogue-bd.yui3-widget-bd {
    padding-top: 0px;
}

.moodle-dialogue-base .moodle-dialogue-hd.yui3-widget-hd {
    text-shadow: none;
}

.moodle-dialogue-base .moodle-dialogue-hd.yui3-widget-hd h1 {
    text-align: left;
    font-size: 24px;
    color: white;
    padding-top: 15px;
    display: block;
}

.moodle-dialogue-base .moodle-dialogue-wrap {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

.moodle-dialogue-base .moodle-dialogue {
}

.moodle-dialogue-base .moodle-dialogue-hd .yui3-button.closebutton {
    background: transparent url([[pix:theme|close-btn]]) no-repeat scroll 50% 50% / contain;
    border: none;

    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;

    width: 25px;
    height: 25px;
}

.moodle-dialogue-base .confirmation-message {
    text-align: left;
    display: block;
    margin: 0px;
    font-size: 16px;
    line-height: 21px;
    font-weight: normal;
}

.moodle-dialogue-base .confirmation-buttons {
    margin-bottom: 10px;
    margin-top: 12px;

    display: block;
    height: 25px;
}

.jschooser .choosercontainer #chooseform .instruction, 
.jschooser .choosercontainer #chooseform .typesummary {
    color: #777;
    font: 13px/19px HelveticaNeue;
}
.choosercontainer #chooseform .selected {
    color: #003370;
}

body .chooserdialogue-course-modchooser.moodle-dialogue {width: 540px !important;}

.moodle-dialogue-base .confirmation-buttons input {
    border-radius: 0px;
    color: #003370;
    background: #ffd200;
    border: 1px solid #ffd200;
    font: 600 10px/16px HelveticaNeue;
    letter-spacing: 1px;
    text-shadow: none;
    text-transform: uppercase;
    width: 115px;
    padding: 4px 15px 3px !important;
    transition: none;
    -webkit-transition: none;
    margin: 0px;
}

.moodle-dialogue-base .confirmation-buttons input:first-of-type {
    float: right;

    color: white;
    background: #c1d82f;
    border: 1px solid #c1d82f;
}

.moodle-dialogue-base .confirmation-buttons input:last-of-type {
    float: left;
}

/* Quiz Completion */
#page-mod-quiz-view .box.generalbox,
#page-mod-quiz-view .box.quizinfo,
#page-mod-quiz-view #feedback,
#page-mod-quiz-view .course-content-footer-inner {
    display: none;
}

#page-mod-quiz-view h2.activity-heading {
    color: #58595b;
    font: bold 22px/26px HelveticaNeueUltraLight,sans-serif;
    margin: 0 0 20px;
    margin-top: 35px;
}

#page-mod-quiz-view h3.activity-heading {
    color: #81addf;
    font: bold 26px/28px HelveticaNeueUltraLight,sans-serif;
    margin: 0 0 30px;
    margin-bottom: 10px;

    position: absolute;
    top: 0px;
    left: 0px;
}

#page-mod-quiz-view #region-main div[role="main"],
#page-mod-quiz-view #region-main {
    position: relative;
}

#page-mod-quiz-view .singlebutton.quizstartbuttondiv input[type="submit"] {
    border-radius: 0px;
    color: white;
    background: #c1d82f;
    border: 1px solid #c1d82f;
    font: 600 10px/16px HelveticaNeue;
    letter-spacing: 1px;
    text-shadow: none;
    text-transform: uppercase;
    /*width: 210px;*/
    padding: 4px 15px 3px !important;
    transition: none;
    -webkit-transition: none;
    margin: 0px;

    position: absolute;
    left: 0px;
    bottom: -25px;
}

#page-mod-quiz-view .attempts {
    margin: 0px;
    padding: 0px;
    font-family: "Helvetica";
    font-weight: normal;

    list-style-type: none;
}

#page-mod-quiz-view .attempts li {
    margin-bottom: 10px;
}

#page-mod-quiz-view .attempts .attempt-item {
    background-color: #c1d82f;
    color: white;
    display: block;
    width: 100%;
    margin-bottom: 0px;
    padding: 17px;
    letter-spacing: 0.7px;
    font-size: 19px;
    cursor: pointer;
}

#page-mod-quiz-view .attempts .attempt-item span {
    display: inline-block;
}

#page-mod-quiz-view .attempts .attempt-item span.col-title {
    width: 25%;
    text-align: left;
}

#page-mod-quiz-view .attempts .attempt-item span.col-status,
#page-mod-quiz-view .attempts .attempt-item span.col-grade {
    text-align: center;
}

#page-mod-quiz-view .attempts .attempt-item span.col-status {
    width: calc(50% - 20px);
}

#page-mod-quiz-view .attempts .attempt-item span.col-grade {
    width: 20%
}

#page-mod-quiz-view .attempts .attempt-item span.col-action {
    width: 20px;
    display: inline-block;
}

#page-mod-quiz-view .attempts li > .info {
    display: none;
}

#page-mod-quiz-view .attempts li.active > .info {
    display: block;
    background-color: #ecf1c2;

    padding: 10px 15px;
}

#page-mod-quiz-view .info .summary {
    background-color: #f4f8db;
}

/**** Menu (Settings) font: 14px/21px HelveticaNeue; font: 13px Open Sans; ****/
.left-sidebar .block_navigation.block li {
	color: #fff;
	font: 14px/21px HelveticaNeue;
}

.left-sidebar .block_navigation.block li:focus {
	outline: none;
}

.side-pre-box .block_tree .tree_item.branch:before {
	padding-right: 5px;
}

.block_navigation .block_tree [aria-expanded="false"],
.block_navigation .block_tree [aria-expanded="true"],
.block_settings .block_tree [aria-expanded="true"],
.block_settings .block_tree [aria-expanded="false"]
{
	background-image: none;
}

.block_navigation .block_tree [aria-expanded="false"]:before,
.block_settings .block_tree [aria-expanded="false"]:before {
	content: "\f101";
	font-family: FontAwesome;
}

.block_navigation .block_tree [aria-expanded="true"]:before,
.block_settings .block_tree [aria-expanded="true"]:before {
	content: "\f103";
	font-family: FontAwesome;
}

/**** Form elements and buttons ****/
#page-content input[type="submit"] {
	display: inline-block;
	padding: 4px 5px;
	min-width: 150px;
	background-color: #c1d82f;
	background-image: none;
	color: #fff;
	border: 1px solid #c1d82f;
	border-radius: 0;
	text-transform: uppercase;
	font: 600 10px/16px HelveticaNeue;
	letter-spacing: 1px;
	text-shadow: none;
}

#page-content input[type="submit"]:hover {
	background-color: rgba(193, 216, 47, 0.8);
}

#page-content input[type="submit"].mod_quiz-prev-nav,
#page-content input[type="submit"].mod_quiz-next-nav {
	color: #003370;
	background-color: #ffd200;
	border: 1px solid #ffd200;
}

#page-content input[type="submit"].mod_quiz-prev-nav:hover,
#page-content input[type="submit"].mod_quiz-next-nav:hover {
	background-color: rgba(250, 210, 0, 0.8);
}

#page-content input[type="submit"].btn-cancel {
	background-color: #fff;
	color: #980d22;
	border: solid 1px #980d22;
}

#scormviewform input[type="submit"] {
	margin-top: 5px;
}

.path-user .userprofile .edit-link.btn {
	width: auto;
	min-width: 100px;
	background-color: #c1d82f;
	background-image: none;
	color: #fff;
	border: 1px solid #c1d82f;
}

.path-user .userprofile .edit-link.btn:hover {
	background-color: rgba(193, 216, 47, 0.8);
}

input[type="radio"]+label {
	margin-right: 10px;
}

input[type="radio"], input[type="checkbox"] {
	margin-top: -2px;
	margin-right: 3px;
}

/**** Modal (popup) window ****/
.moodle-dialogue-base .moodle-dialogue-wrap {
	background-color: #81ADDF;
	border-radius: 0;
}

.moodle-dialogue-base .moodle-dialogue {
	min-width: 285px;
	width: auto !important;
}

.moodle-dialogue-base .moodle-dialogue legend {
	color: #fff;
}

.moodle-dialogue-base .moodle-dialogue.mod_quiz_preflight_popup .moodle-dialogue-bd legend {
	color: #fff;
}

.moodle-dialogue-base .moodle-dialogue.mod_quiz_preflight_popup .moodle-dialogue-bd .fitem .felement {
	color: #fff;
}

.moodle-dialogue-base .moodle-dialogue-wrap .moodle-dialogue-hd,
.moodle-dialogue-base .moodle-dialogue-wrap .moodle-dialogue-hd.yui3-widget-hd {
	text-shadow: none;
	border-radius: 0;
	border-bottom: none;
	background: none;
	color: #fff;
}

.moodle-dialogue-base input[type="submit"],
.moodle-dialogue-base input[type="submit"]#id_submitbutton {
	display: inline-block;
	padding: 4px 5px;
	min-width: 150px;
	background-color: rgba(250, 210, 0, 1);
	background-image: none;
	border: 1px solid #ffd200;
	color: #003370;
	border-radius: 0;
	text-transform: uppercase;
	font: 600 10px/16px HelveticaNeue;
	letter-spacing: 1px;
	text-shadow: none;
}

.moodle-dialogue-base input[type="submit"].btn-cancel {
	background-color: #fff;
	color: #980d22;
	border: none;
}

.moodle-dialogue-base input[type="submit"]:hover {
	background-color: rgba(250, 210, 0, 0.8);
}

.moodle-dialogue-base #fgroup_id_buttonar {
	background-color: inherit;
	border-top: none;
}

/**** #page-mod-quiz-view table ****/

#page-mod-quiz-view .attempts table th,
#page-mod-quiz-view .attempts table td {
	color: #003370;
	width: 25%;
}

#page-mod-quiz-view .attempts .summary table th,
#page-mod-quiz-view .attempts .summary table td {
	width: auto;
}

#page-mod-quiz-view .attempts table th {
	text-transform: uppercase;
	border-bottom: 1px solid #003370;
}

#page-mod-quiz-view .attempts .summary table th {
	border-bottom: 1px solid #fff;
}

#page-mod-quiz-view .attempts .summary .generaltable tbody tr td {
	color: #003370;
}

#page-mod-quiz-view .attempts .generaltable tbody tr td,
#page-mod-quiz-view .attempts .generaltable tbody tr:hover td {
	color: #58595b;
	border-bottom: 2px solid #fff;
	background-color: #ecf1c2;
}

#page-mod-quiz-view .attempts .generaltable tbody tr:last-child td {
	border-bottom: 0;
}

#page-mod-quiz-view .attempts .generaltable tbody>tr:nth-child(odd)>td {
	background-color: #ecf1c2;
}

#page-mod-quiz-view .attempts .summary .generaltable tbody>tr:nth-child(odd)>td {
	background-color: #f9f9f9;
}

#page-mod-quiz-view .attempts tbody tr td .answer {
	margin-bottom: 15px;
}

#page-mod-quiz-view .attempts tbody tr td .answer p {
	display: inline-block;
	margin-bottom: 0;
}

#page-mod-quiz-view .moodle-dialogue-base .moodle-dialogue {
	width: 285px !important;
}

#page-mod-quiz-view .moodle-dialogue-base form {
	padding: 0 15px 15px 15px;
}

#page-mod-quiz-view .moodle-dialogue-base .moodle-dialogue .felement.fgroup {
	margin-left: 0;
}

#page-mod-quiz-view .moodle-dialogue-base input[type="submit"],
#page-mod-quiz-view .moodle-dialogue-base input[type="submit"]#id_submitbutton {
	min-width: 120px;
}

.moodle-dialogue-base input[type="submit"].btn-cancel {
	background-color: #fff;
	color: #980d22;
	border: none;
	float: left;
}

.block_course_catalog .coursebox .coursename a {
    margin-bottom: 16px;
    height: auto;
}

/*
#page-course-view-institutes .activity.label.modtype_label .mod-indent-outer {
    width: 0px!important;
}
*/

#page-course-view-institutes .activity.label.modtype_label .activity-buttons {
    float: right;
}

    /* header */

.header-notifications-menu ul li {
    position: relative;
}

.header-notifications-menu .alert {
    font-size: 10px;
    padding: 1px;
    border-radius: 9px;
    display: inline-block;
    width: 15px;
    height: 16px;
    line-height: initial;
    text-align: center;
    font-weight: bold;
    position: absolute;
    left: 77px;
    top: 0px;
}

.header-notifications-menu .alert.messages {
    left: 110px;
}

.header-notifications-menu .alert.notification {
    /*left: 80px;*/
}

.header-notifications-menu ul li .alerts {
    display: none;
    height: auto;

    position: absolute;
    top: 20px;
    left: -2px;

    padding-top: 9px;
}

.header-notifications-menu ul li .alerts li {
    width: calc(100% * 2);
    padding-left: 10px;
    padding-right: 10px;

    padding-bottom: 2px;
    padding-top: 2px;

    background-color: rgb(255, 255, 255);
    border-left: 1px solid #bbb;
    border-right: 1px solid #bbb;
    color: #777;
}

.header-notifications-menu ul li .alerts li:last-child {
    border-bottom: none!important;
}

.header-notifications-menu ul li.active .alerts,
.header-notifications-menu ul li:hover .alerts {
    display: block;
}

.header-notifications-menu ul li.active .alerts p,
.header-notifications-menu ul li:hover .alerts p {
    margin: 0px;
}

.header-notifications-menu ul li .alerts li .title {
    font-size: 12px;
    font-weight: bold;
    padding-bottom: 0px;

    cursor: pointer;
}

.header-notifications-menu ul li .alerts li .body {
    padding-top: 0px;
    font-size: 10px;
    font-weight: normal;
    color: #bbb;

    padding-bottom: 5px;
    border-bottom: 1px dashed #bbb;
    margin-bottom: 5px;
}

.header-notifications-menu ul li .alerts li .title .text-danger {
    /*color: black;*/
    font-weight: bold;
}

.path-course-view .activity-buttons .togglecompletion {
    display: table-cell;
}

.path-course-view .activity {
    position: relative;
}

.path-course-view .activity .activity-buttons {
    position: absolute;

    right: 0px;
    top: 0px;
}

.path-course-view .activity .activity-buttons .btn {
    margin-right: 15px!important;
    margin-left: 0px!important;
}

/*.path-course-view .mod-text {
    width: 35%!important;
}*/

.gradebook ul {
    list-style-type: none;
    list-style: none;
}

.path-course-view .activity .activity-buttons {
    position: relative;
    right: inherit;
    left: inherit;
}

.path-course-view .course-content .section-level-3 ul.section .activity .activity-buttons {
    padding-left: 0px;
    float: right;

    width: 65%;
    padding-bottom: 10px
}

.path-course-view .activity.label.modtype_label .mod-indent-outer {
    width: 35%!important;
}

.path-course-view .mod-text {
    width: 100%;
    float: left;
}

.path-course-view .mod-text .contentafterlink {
    margin-top: 5px!important;
}

#page-course-view-institutes .activity.label.modtype_label .activity-buttons {
    float: none;
}

#page-mod-quiz-review #quiz-timer,
#page-mod-quiz-attempt #quiz-timer {
    position: absolute;
    top: 0px;
    right: 63px;

    margin-top: 5px;
    color: #bcbcbd;
    font-size: 12px;
}

#page-mod-quiz-review .side-inner .block_fake .content #quiz-timer,
#page-mod-quiz-attempt .side-inner .block_fake .content #quiz-timer {
    margin: 0px;
}

#page-mod-quiz-review .side-inner .block.block_fake,
#page-mod-quiz-attempt .side-inner .block.block_fake {
    border: none;
    margin: 0px;
    padding: 0px;
}

#page-mod-quiz-attempt #mod_quiz_navblock h3,
#page-mod-quiz-review #mod_quiz_navblock h3 {
    padding: 0px;
    display: none;
}

#page-mod-quiz-summary .course-content-footer-inner .status-btn.btn.btn-success {
    display: none;
}