header .container-fluid.header-search-panel .search-input-wrapper {
	margin-left: 0px;
	margin-right: 0px;
}

header .header-search-panel .search-input-wrapper > form > input {
	width: 100%;
}

header .small-logo-box-mobile,
header .mobile-nav,
header .header_course_name {
	display: none;
}

header .small-logo-box .course-name-box {
	margin-left: 55px;
}

header .small-logo-box-mobile .course-progress-box {
	margin-top: 7px;
}

header .small-logo-box-mobile .course-progress-box label {
	color: #58595b;
	font: 10px HelveticaNeue;
	margin-bottom: 2px;
	text-transform: uppercase;
}

header .small-logo-box-mobile .course-progress-box .course-progress {
	background-color: #eeefef;
	border-radius: 3px;
	height: 10px;
	position: relative;
	width: 170px;

	display: inline-block;
	float: right;
}

header .small-logo-box-mobile .course-progress-box .course-progress-percentage {
	background-color: #ffd200;
	border-radius: 3px;
	height: 10px;
}

.path-course .course-content .course-level-0 ul.institutes li.section h4 span:nth-child(2) {
	font: inherit;
}


@media (max-width: 1200px) {
	header .header-navbar .container-fluid.header-search-panel .search-input-wrapper {
		width: 40%;
	}

	header .header-navbar .header-notifications-menu {
		width: 60%
	}


	header .header-navbar .header-notifications-menu > ul > li:nth-last-child(n+3) ~ li:not(li.moodle-editing-btn) {
		width: 40%;
	}

	header .header-navbar .header-notifications-menu > ul > li:nth-last-child(n+3):first-child {
		width: 35%;
	}

	header .header-navbar .header-notifications-menu > ul > li.moodle-editing-btn {
		width: 25%;
	}
}

@media (max-width: 960px) {

	.path-course .course-content .course-level-0 ul.institutes li.section {
		width: 110%;
		height: 100px;
	}

	.path-course .course-content .course-level-0 ul.institutes li.section .content {
		margin: 15px 20px;
		position: relative;
	}

	.path-course .course-content .course-level-0 ul.institutes li.section h4 span:nth-child(2) {
		position: absolute;
		top: 14px;
		left: 110px;
	}

	.path-course .course-content .course-level-0 .section-completion-status {
		left: 110px;
		top: 54px;
		text-align: left;
	}

	.path-course .course-content .course-level-0 ul.institutes li.section .content h4 {
		text-align: left;
	}

	.path-course .course-content .course-level-0 ul.institutes li.section h4 span {
		display: inline-block;
		text-align: left;
		font-size: 75px;
	}

	.path-course .course-content .course-level-0 ul.institutes li.section {
		width: 100%;
		margin-left: 0px;
		margin-right: 0px;
	}

	.path-course .course-content .sections-containter {
		width: 100%;
	}

	.path-course .course-file-box {
		margin-right: 0px;
	}

	.path-course .row-fluid [class*="span"] {
		margin-left: 0px!important;
	}

	.path-course #page.container-fluid {
		width: 100%;
		padding-right: 10px;
		padding-left: 10px;
		margin-left: 0px;
		margin-right: 0px;
	}

	.path-course .course-content .sections-menu {
		display: none;
	}

	.path-course .span3.side-post.open {
		display: none;
	}

	.path-course #region-main-box {
		width: 100%;
	}

	.row-fluid .span3 {
		width: 22.9281768%;
	}

	.container-fluid .left-sidebar,
	.container-fluid.header-path-panel,
	#page-content .course-catalog-title,
	header .small-logo-box .course-progress-box {
		display: none;
	}

	header .small-logo-box .course-name-box {
		margin-left: 55px;
		margin-top: 6px;
	}

	header .small-logo-box-mobile {
		display: block;
	}

	header .moble-course-progress {
		display: inline-block;
		padding-right: 10px;
		float: left;

		color: #58595b;
		font: 10px HelveticaNeue;
		margin-bottom: 2px;
		text-transform: uppercase;
	}

	header .small-logo-box {
		display: block;
		padding: 0px;
		margin: 0px;
		position: absolute;
		top: -8px;
		left: 80px;
	}

	header .small-logo-box-mobile {
		display: block;
		padding: 0px;
		margin: 0px;
		position: absolute;
		bottom: 5px;
		right: 10px;
		width: 290px;
	}

	header .header_course_name {
		display: inline-block;

		position: absolute;
		top: 15px;

		color: #003370;
		font: bold 22px HelveticaNeueUltraLight;
		letter-spacing: 1.2px;
	}

	.container-fluid.full-width .left-sidebar.active {
		display: block;

		position: fixed;
	}

	.container-fluid #page-content.active-sidebar {
		padding-left: 70px;
	}

	.container-fluid #page-content.active-sidebar.open {
		padding-left: 265px;
	}

	.container-fluid.full-width {
		padding-left: 0px!important;
		padding-right: 0px!important;
		margin-left: 10px!important;
		margin-right: 10px!important;
	}

	#page.container-fluid {
		margin-top: 0;
	}

	.navbar.navbar-fixed-top.moodle-has-zindex {
		position: relative;
		height: 105px;
		margin-bottom: 10px;
	}

	header .header-navbar {
		width: 100%;
	}

	header .header-navbar .moodle-editing-btn {
		display: none;
	}

	header .header-navbar .container-fluid.header-search-panel {
		margin: 0 10px 0 10px;
	}

	header .header-navbar .header-notifications-menu > ul > li:nth-last-child(2) {
		border-right: none;
	}

	header .header-navbar .header-notifications-menu > ul > li:nth-last-child(3),
	header .header-navbar .header-notifications-menu > ul > li:nth-last-child(2){
		width: 50%;
	}

	header .header-logo {
		position: absolute;
		left: 0px;
		top: 55px;

		height: 65px;
		width: 100%;
		max-width: none;
	}

	header .header-logo .logo {
		margin-left: 0px;
	}

	header .header-logo div.small-logo,
	header .header-logo div.logo {
		background: rgba(0, 0, 0, 0) url([[pix:theme|small-logo]]) no-repeat;
		background-size: 80%;
		width: 45px;
		max-width: 45px;
		display: inline-block;
	}

	header .header-logo div.small-logo {
		padding: 0px;
		margin: 0px;
		height: 53px;
	}

	.path-my .nav-tabs-header {
		display: none;
	}

	header .mobile-nav {
		display: inline-block;
		background: rgba(0, 0, 0, 0) url([[pix:theme|mobile_nav]]) no-repeat;
		background-size: 50%;

		width: 55px;
		height: 34px;

		margin-bottom: 21px;
		margin-left: 20px;

		cursor: pointer;
	}
}

@media (max-width: 640px) {
	header .header-navbar .container-fluid.header-search-panel .search-input-wrapper {
		width: 40%
	}

	header .header-navbar .header-notifications-menu {
		width: 60%
	}
}

@media (max-width: 480px) {
	header .header-notifications-menu > ul > li > a {
		font-size: 12px;
	}

	header,
	footer,
	.container-fluid.full-width {
		min-width: 480px;
	}
}

@media (max-width: 767px) {
	body {
		padding-left: 0px;
		padding-right: 0px;
	}

	.navbar-fixed-top,
	.navbar-fixed-bottom,
	.navbar-static-top {
		 margin-left: 0px;
		 margin-right: 0px;
	}
}